<!doctype html>
<html  ng-app="todoApp" >
<head>
	<title>TODO Challenge</title>	
	<script src="js/angular-bootstrap.js"></script>
	<script src="todo.js"></script>
	<link rel="stylesheet" href="todo.css">

</head>
  
<body>
<div class="mainframe">
   <div> 
   		 <h2>Lista de tarefas</font></h2>
    </div>
    <div ng-controller="TodoListController as todoList">
      <span>{{todoList.remaining()}} de {{todoList.todos.length}} tarefas restante</span>
      [ <a href="" ng-click="todoList.archive()"><font color="white">remover</font></a> ]
      <ul class="unstyled">
        <li ng-repeat="todo in todoList.todos">
          <label class="checkbox">
            <input type="checkbox" ng-model="todo.done">
            <span class="done-{{todo.done}}">{{todo.text}}</span>
          </label>
        </li>
      </ul>
      
      <form ng-submit="todoList.addTodo()">
        <input type="text" ng-model="todoList.todoText"  size="30"
               placeholder="add new todo here">
        <input class="btn-primary" type="submit" value="add">
      </form>
    </div>
</div>

<div style="position: relative">    
    <div style="position: absolute;">
    Victor Brandão (C) 2018
    </div>
</div>
</body>




</html>